/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  font-size: 1.4rem;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
}


/******************************************
/* HEADER
/*******************************************/
header, nav ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  align-items: center;
}

nav {
  flex-basis: 60%;
  align-items: flex-start;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/******************************************
/* MAIN
/*******************************************/

main{
  display: flex;
  background-image: url("https://i.imgur.com/jyvFAml.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom-right-radius: 150px;
  border-bottom: 5px grey solid;
  border-right: 5px grey solid;
}

.mainLeft{
  display: flex;
  width: 40%;
  padding-left: 5%;
  padding-top: 50px;
  flex-direction: column;
  color: #ffffff;
}

main h1{
  font-size: 5rem;
  margin-bottom: 5px;
}

.button{
  background-color: #000000;
  color: #ffffff;
  width: fit-content;
  padding: 7px 20px;
  font-size: 1rem;
  margin-bottom: 50px;
}

.firstVisit{
  width: 65%;
  padding: 20px 15px;
  background-color: #000000;
  font-size: 1rem;
}

.firstVisit span:first-child{
  border-left: #ffffff solid 3px;
}

#discount{
  border: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.firstVisit p{
  padding: 20px 0;
}

.whiteButton{
  background-color: #ffffff;
  color: #000000;
}

.mainRight{
  display: flex;
  width:60%;
  color: #ffffff;
  justify-content: flex-end;
  align-items: center;
}

.mainRight span{
  transform: rotate(90deg); 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.services{
  display: flex;
  padding: 60px;
  justify-content: space-around;
}

.service{
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  align-items: center;
  align-content: center;
  text-align: center;
}

.service span{
  font-weight: bold;
  font-size: 1.5rem;
}

.service p{
  font-size: 1rem;
}

.service .fa-solid{
  font-size: 4rem;
  padding-bottom: 15px;
}

/******************************************
/* MOMENTUM
/*******************************************/

.momentum{
  display: flex;
  background-color: #f3f4f6;
  justify-content: space-around;
  padding: 60px;
}

.momentumInside{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 50px;
}

.momentumInside h2{
  font-size: 3.5rem;
  margin: 15px 0;
}

.momentumInside img{
  max-width: 100%;
}

/******************************************
/* EMPLOYEES
/*******************************************/

.employees{
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.employee{
  display: flex;
  height: 270px;
  padding: 0 15px;
  background-image: url("https://i.imgur.com/XW5PDcT.jpg");
  background-repeat: no-repeat;
  align-items: flex-end;
}

.employee .button{
  margin: 0px;
  text-align: center;
}

/******************************************
/* OFFERS
/*******************************************/

.offers{
  display: flex;
  justify-content: space-around;
  margin: 60px;
  background-color: #f1f1f1;
}

.offersInside{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 60px;
}

.offersInside img{
  text-align: left;
}

/******************************************
/* OUR LOOKBOOK
/*******************************************/

.lookbook{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 60px;
}

.lookbook h2{
  text-align: center;
}

.photos{
  display: flex;
  justify-content: center;
  
}

.photosColumn{
  padding: 10px;
}